@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-green: #1dc956;
  --color-ash: #6b717f;
  --color-ash-light: #edeff1;
  --color-black: #000000;

  --color-bg-button: var(--color-green);
  --color-heading-text: var(--color-black);
  --color-normal-text: var(--color-ash);

  --color-border: var(--color-ash-light);

  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/* UTILITY CLASSES */
.button {
  background-color: var(--color-bg-button);
  padding: 1.2rem 1.8rem;
  border: none;
  letter-spacing: .1rem;
  border-radius: .5rem;
}


/* LOGO */

.logo {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  line-height: 4rem;
  color: var(--color-heading-text);
}


/* SEARCH AREA */
.search-area {
  width: 100%;
  height: fit-content;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-border);
  padding: 1.2rem;
  width: 80%;
}

.search-bar input {
  height: 100%;
  flex: 1;
  border: none;
  margin-left: 1rem
}

.search-bar input:focus {
  outline: none;
}

/* RECIPE AREA */

.recipe-area {
  width: 100%;
  height: fit-content;
  padding: 2rem;
}

.recipe-area h2 {
  margin: 0 0 2rem 0;
  letter-spacing: 0.2rem;
  color: var(--color-heading-text);
  text-transform: capitalize;
}

.recipe-area .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.recipe-card {
  height: 20rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 1.2rem;
  box-shadow: .1rem .1rem .1rem var(--color-border);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
  color: var(--color-normal-text);
  font-size: 1.4rem;
}

.recipe-card h3 {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  color: var(--color-heading-text);
  text-transform: capitalize;
}

.recipe-card p {
  letter-spacing: .08rem;
}

.recipe-card span {
  align-self: flex-end;
}

/* Form: Add new recipe */
.form-add-new-recipe {
  width: 95%;
  padding:1.2rem;
  margin: 1.2rem auto;
  border: .1rem solid var(--color-border);
  border-radius: 1rem;
  box-shadow: .1rem .1rem .1rem var(--color-border);
}

.form-add-new-recipe h2 {
  margin: 0 0 1.2rem 0;
  letter-spacing: .2rem;
  text-transform: capitalize;
  color: var(--color-heading-text);
}

.form-add-new-recipe div {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.form-add-new-recipe label {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: .08rem;
}

.form-add-new-recipe input,
.form-add-new-recipe textarea {
  padding: 1.2rem;
  border: 2px solid var(--color-border);
  border-radius: .5rem;
  letter-spacing: .1rem;
}

.form-add-new-recipe input:focus,
.form-add-new-recipe textarea:focus {
  outline: none;
}
