/* Google Font: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Fira Code', monospace;
  font-size: 1.8rem;
}

.container {
  width: 100%;
  background-color: #fcfcfc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 50rem;
  height: fit-content;
  border: 3px solid #000000;
}

.card img {
  width: 100%;
  height: 50%;
}

.card .details {
  width: 100%;
  height: 45%;
  padding: 2rem;
}

.card h2 {
  font-size: 3.2rem;
  margin: 2rem 0
}

.skill-list {
  margin: 1rem 0;
}

.skill {
  list-style-type: none;
  width: fit-content;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  font-weight: 600;
  /* display: inline-block; */
}